@model WU.UI.Controllers.ZonaController
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Asignar Subzona";
}
<script type="text/javascript">
    $(function () {
        $('#finicio_001').datetimepicker({ format: 'DD/MM/YYYY' });
        $('#ffin_001').datetimepicker({ format: 'DD/MM/YYYY' });
    });


    $(document).ready(function () {
        $('#ddlZona').change(function () {
            var selectedValue = $(this).val();

            var myArray = [];

            if (selectedValue != null && selectedValue != '') {
                $.getJSON('@Url.Action("/DibujarZonaJSON")', { codzona: selectedValue },
                    function (jsondata) {
                        var res = "";
                        $.each(jsondata, function (index, data) {
                            /*dllSecond.append($('<option/>', {
                                value: data.codubigeo,
                                text: data.provincia
                            }));*/
                            res += data.lat + "," + data.lon + ";";
                            myArray.push(data.lat, data.lon);
                        });
                        alert(res);


                        if (myArray.length > 0) {
                            var polygony = new ol.geom.Polygon([myArray]);
                            var featurey = new ol.Feature(polygony.transform('EPSG:4326', 'EPSG:3857'));
                            var vectorSourcey = new ol.source.Vector();
                            vectorSourcey.addFeature(featurey);
                            var vectorLayery = new ol.layer.Vector({
                                source: vectorSourcey
                            });
                            map.addLayer(vectorLayery);
                        }

                    });
            }

        });
    });
</script>

<style type="text/css">
    #map {
        width: 100%;
        height: 500px;
    }
</style>

<h3>WU_CUS001 Asignar Sub Zona a ET</h3>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Datos</h3>
            </div>
            <div class="panel-body">
                <div class="form-group row">
                    <label for="finicio" class="col-sm-3 col-form-label">Fecha de inicio:</label>
                    <div class="col-sm-5">
                        <div class="input-group date" id="finicio_001">
                            <input type="text" class="form-control ocl-8">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ffin" class="col-sm-3 col-form-label">Fecha de fin:</label>
                    <div class="col-sm-5">
                        <div class="input-group date" id="ffin_001">
                            <input type="text" class="form-control ocl-8">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">Money Transfer
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">Pago de servicios
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2  col-xs-12">
                        <a href="#" class="btn btn-primary btn-primary btn-block">Buscar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mapa</h3>
            </div>
            <div class="panel-body" style="padding: 0">
                <!---------------------------MAPA-------------------------->
                <div id="map"></div>
            </div>
        </div>
    </div>
    <!-- form  -->
    @using (Html.BeginForm("RegistrarSubZona", "Zona", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-4">
            <div class="panel panel-default row">
                <div class="panel-heading">
                    <h3 class="panel-title">Subzona</h3>
                </div>
                <div class="panel-body esp-m">
                    <div class="form-group">
                        <div class="row" style="margin-bottom: 15px;">
                            <label for="ddlZonas" class="col-sm-3 col-form-label">Zonas:</label>
                            <div class="col-sm-9">
                                @{
                                    var modelo = Model.zonaBL.CargarZonas();
                                    int cant = modelo.Count();
                                    <select id="ddlZona" name="ddlZona" class="form-control">
                                        @for (int i = 0; i < cant; i++)
                                        {
                                            string Cid = modelo.ElementAt(i).codzona;
                                            string nom = modelo.ElementAt(i).dsczona;
                                            <option id="@Cid" value="@Cid">@nom</option>
                                        }
                                    </select>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <label for="ddlZonas" class="col-sm-12 col-form-label">% de captación: 80%</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default row">
                <div class="panel-heading">
                    <h3 class="panel-title">ET</h3>
                </div>
                <div class="panel-body esp-m">
                    <div class="form-group">
                        <div class="row ">
                            <div class="col-sm-12" style="margin-bottom: 15px; width:100%">
                                @{
                                    var modeloET = Model.etBL.ListarET();
                                    int cantET = modeloET.Count();
                                    <select name="ddlET" class="form-control">
                                        @for (int i = 0; i < cantET; i++)
                                        {
                                            int Cid = modeloET.ElementAt(i).codet;
                                            string nom = modeloET.ElementAt(i).nomet + " " +
                                                        modeloET.ElementAt(i).apeet;
                                            <option id="@Cid" value="@Cid">@nom</option>
                                        }
                                    </select>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="btn btn-block btn-primary btn-block">Buscar</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" class="btn btn-block btn-primary btn-danger">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <textarea id="txtCoord" name="txtCoord" class="form-control col-md-12" rows="3" cols="5"></textarea>
            </div>
        </div>
        <input type="submit" value="Registrar" id="btnRegistrar" name="btnRegistrar" />
                                    }
    <!-- fin form  -->
</div>
<script type="text/javascript">
    var source = new ol.source.Vector();
    var puntoLima = ol.proj.fromLonLat([-77.044, -12.062]);

    var map = new ol.Map({
        target: 'map',
        layers: [
        new ol.layer.Tile({
            source: new ol.source.OSM()
        }),
        new ol.layer.Vector({
            source: source
        })],
        view: new ol.View({
            center: puntoLima,
            zoom: 15,
            projection: 'EPSG:3857'
        })
    });
    var draw = new ol.interaction.Draw({
        type: 'Polygon',
        source: source,
        style: new ol.style.Style({
            image:
            //Start of the star style
            new ol.style.RegularShape({
                fill: new ol.style.Fill({
                    color: 'red'
                }),
                points: 4,
                radius1: 15,
                radius2: 1,
            }),
            stroke: new ol.style.Stroke({
                color: 'blue',
                width: 2
            })/*,
            fill: new ol.style.Fill({
                color: 'white'
            })*/
        })
    });
    map.addInteraction(draw);


    source.on('addfeature', function (evt) {
        var feature = evt.feature;
        var coords = feature.getGeometry().getCoordinates();
        var coo = "";
        coords[0].forEach(function (element) {
            element = ol.proj.transform(element, 'EPSG:3857', 'EPSG:4326');  //14 decimales , 18 caracteres
            coo += element + ";";
        });
        document.getElementById("txtCoord").value = coo;
    });
    var arrZona = [
            [
                [-77.044, -12.067], [-77.039, -12.062], [-77.034, -12.062], [-77.029, -12.067], [-77.029, -12.072], [-77.029, -12.077],
                [-77.034, -12.082], [-77.039, -12.082], [-77.044, -12.077], [-77.044, -12.072], [-77.044, -12.067]
            ],
            [
                [-77.06694260857539, -12.057537968485335],
                [-77.05793038628536, -12.056016603888480],
                [-77.05862776062922, -12.058692101389013],
                [-77.05927149079280, -12.061052812313676],
                [-77.05996886513667, -12.063203664173514],
                [-77.06308022759394, -12.062574148341952],
                [-77.06431404374080, -12.062311849642555],
                [-77.06619159005122, -12.061944631032333],
                [-77.06651345513299, -12.061105272320418],
                [-77.06726447365718, -12.059426547014667],
                [-77.06715718529658, -12.058482259412287],
                [-77.06694260857539, -12.057537968485335]
            ],
            [
                [-77.08126041378857, -12.079092632739659],
                [-77.08067032780531, -12.078515610837740],
                [-77.06763479199293, -12.083184206913103],
                [-77.06522080387953, -12.084128407455850],
                [-77.06468436207655, -12.084967694030581],
                [-77.06457707371595, -12.085806977973093],
                [-77.06361147847059, -12.086488894238059],
                [-77.07204970803134, -12.097042638165902],
                [-77.07660946335666, -12.095416591442756],
                [-77.07639488663547, -12.094839604744450],
                [-77.07733365979068, -12.094524884202372],
                [-77.08468291249149, -12.090669527501746],
                [-77.08438786949985, -12.090013849063865],
                [-77.08393189396732, -12.089410623481513],
                [-77.08342227425449, -12.088204168235976],
                [-77.08258474111368, -12.086467243457676],
                [-77.08263838529398, -12.086204968155599],
                [-77.08312118291666, -12.086073830408140],
                [-77.08263838529398, -12.084500172425962],
                [-77.08199620898941, -12.080729433302565],
                [-77.08167434390764, -12.079418026108002],
                [-77.08126041378857, -12.079092632739659]
            ],
            [
                [-77.02558026919849, -12.113058939090479],
                [-77.01093540797717, -12.112272190692010],
                [-77.00056675427099, -12.111642790303975],
                [-77.00142506115576, -12.104142321510892],
                [-77.00340989582683, -12.090714383009754],
                [-77.00378540508892, -12.088458842816593],
                [-77.01408508770610, -12.089822660090320],
                [-77.02127340786602, -12.090924199735213],
                [-77.02288273327495, -12.093127265414950],
                [-77.02486756794598, -12.097533342323189],
                [-77.02631596081407, -12.100418234291467],
                [-77.02706697933824, -12.103880063546470],
                [-77.02685240261705, -12.106030571254763],
                [-77.02620867245346, -12.107709004266212],
                [-77.02583316319140, -12.110226634006153],
                [-77.02558026919849, -12.113058939090479]
            ],
            [
                [-77.02338310269869, -12.091813752069328],
                [-77.03389736203708, -12.093072644778417],
                [-77.05192180661714, -12.094960972730036],
                [-77.05213638333835, -12.102304343526200],
                [-77.05406757382906, -12.107549484834152],
                [-77.04891773252048, -12.112794523139172],
                [-77.04462619809665, -12.112794523139172],
                [-77.04269500760593, -12.115731699582696],
                [-77.03926178006687, -12.113633719706513],
                [-77.02617260007419, -12.113214121752591],
                [-77.02853294400728, -12.103982799948895],
                [-77.02445598630466, -12.094541345448790],
                [-77.02338310269869, -12.091813752069328]
            ]
    ]


    //

    arrZona.forEach(function (zona) {
        var polygonx = new ol.geom.Polygon([zona]);
        var featurex = new ol.Feature(polygonx.transform('EPSG:4326', 'EPSG:3857'));
        var vectorSourcex = new ol.source.Vector();
        vectorSourcex.addFeature(featurex);
        var vectorLayerx = new ol.layer.Vector({
            source: vectorSourcex
        });
        //map.addLayer(vectorLayerx);
    });

</script>
