@model IEnumerable<WU.BE.ZonaBE>
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Mantenimiento de Zonas";
}

<script type="text/javascript">
    $(function () {
        $('#finicio').datetimepicker();
        $('#ffin').datetimepicker();
    });
</script>

<h3>Mantenimiento de Zonas</h3>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Datos</h3>
        </div>
        <div class="panel-body" style="padding: 0">
            <br>
            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="finicio" class="col-sm-4 coc-form-label">Fecha Inicio:</label>
                            <div class="col-sm-8">
                                <div class="input-group date" id="finicio">
                                    <input type="text" class="form-control ocl-8">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="finicio" class="col-sm-4 col-form-label">Fecha Fin:</label>
                            <div class="col-sm-8">
                                <div class="input-group date" id="ffin">
                                    <input type="text" class="form-control ocl-8">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="finicio" class="col-sm-3 col-form-label">RUC:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control ocl-8">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="finicio" class="col-sm-3 col-form-label">Razón Social:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control ocl-8">
                            </div>
                            <div class="col-sm-3">
                                <a href="#" class="btn btn-primary btn-block esp-s">Buscar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin panel -->
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Lista</h3>
        </div>
        <div class="panel-body">
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#tbZonas').DataTable({
                    });
                });
            </script>
            <div class="col-sm-12">
                <table id="tbZonas" class="table table-bordered table-hover table-striped" style="overflow-y:scroll; max-height:400px">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Ubigeo</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.codzona)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.codubigeo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dsczona)
                                </td>
                                <td>
                                    @{string tp = "";
                                        switch (item.estzona)
                                        {
                                            case "ACT": tp = "success"; break;
                                            case "INA": tp = "danger"; break;
                                            default: tp = "primary"; break;
                                        }

                                        <span class="label label-@tp">
                                            @Html.DisplayFor(modelItem => item.estzona)
                                        </span>
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("DetalleZona", "Zona", new { modelItem = item.codzona })"
                                       class="btn btn-primary btn-sm" style="width: 32px">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                </td>
                            </tr>
                                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>N°</th>
                            <th>Ubigeo</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>